body{
    background-color: var(--background-default);
}

.container{
    display: flex;
    flex-direction: column;
    margin: 8.8rem 8rem;
}

.title-page{
   margin-bottom: 4rem;
}

h1{
    margin-top: .8rem;
}

.image{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 26px;
}

#content-list{
    margin-top: 6.4rem;
}

.text-information{
    margin: 2.4rem 0 4rem 0;
}

/* Section */

#title-page{
    margin-top: 6.4rem;
}

.margin{
    margin-bottom: 6.4rem;
}

.dimension-image{
    height: 35rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 28px;
    margin-bottom: 2rem;
}

.image-1{
    background-image: url(../img/Image_02.jpg)
}

/*temple Haedong */
.temple-haedong{
    margin-bottom: 4.8rem;
}

.temple-haedong p{
    margin-bottom: 1rem;
}

.history{
    display: block;
}

/* Templo Beomeo-sa */
.temple-beomeo-sa{
    margin-bottom: 4.8rem;
}
.image-2{
    background-image: url(../img/Image_03.jpg);
    margin-bottom: 2rem;
}

.information-temple p{
    margin-bottom: 1rem;
}


/* Parque Yongdusan */
.parque-yongdusan{
    margin-bottom: 4rem;
}

.image-3{
    background-image: url(../img/Image_04.jpg);

}


/* descrição */

.descrition-locale{
    margin-top: 4rem;
}


/*footer*/

#footer{
    display: flex;
    padding: 2.8rem;
    justify-content: center;
    gap: 5px;
}